 --upgrade pip
--upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl
tensorflow==2.13.0
flask
python-multipart
pillow
tensorflow-serving-api==2.13.0
matplotlib
numpy

